[submodule "bgfx"]
	path = bgfx
	url = https://github.com/oOTimothyOo/bgfx.git
[submodule "bx"]
	path = bx
	url = https://github.com/oOTimothyOo/bx.git
[submodule "bimg"]
	path = bimg
	url = https://github.com/oOTimothyOo/bimg.git
